---
import { getEntries } from 'astro:content';

import { header, footer } from '@content/globals';

import Button from '@components/blocks/Button.astro';
import LinkWithIndicator from '@components/blocks/LinkWithIndicator.astro';

const navLinks = await getEntries(header.links.map((item) => item.link));
const menuLinks = await getEntries(
  footer.linksInternal.map((item) => item.link),
);
---

<script>
  import { scrollStart, scrollStop } from '@scripts/scroll';

  const menu = document.querySelector('[data-js="menu"]');
  const menuTriggerOpen = document.querySelector(
    '[data-js="menu-trigger-open"]',
  );
  const menuTriggerClose = document.querySelector(
    '[data-js="menu-trigger-close"]',
  );

  menuTriggerOpen?.addEventListener('click', () => {
    scrollStop();
    menu?.classList.add('is-active');
  });

  menuTriggerClose?.addEventListener('click', () => {
    scrollStart();
    menu?.classList.remove('is-active');
  });
</script>

<header>
  <div class="container">
    <div class="inner">
      <a class="logo" href="/" aria-label="Home">
        <svg viewBox="0 0 161 18" fill="none" aria-hidden="true">
          <path
            d="M-0.000437483 11.7593H3.21556C3.38356 13.4633 4.10356 14.4713 5.56756 14.4713C7.07956 14.4713 7.94356 13.2953 7.94356 11.3273V0.479316H11.1596V11.0873C11.1596 14.8313 9.02356 17.1593 5.56756 17.1593C2.23156 17.1593 0.215563 15.0713 -0.000437483 11.7593ZM23.7918 16.7993L22.5438 13.4153H15.5838L14.3358 16.7993H11.0958L17.2398 0.479316H21.0558L27.1998 16.7993H23.7918ZM18.5838 5.32732L16.5198 10.9193H21.6078L19.5438 5.32732L19.0638 3.64732L18.5838 5.32732ZM27.9033 16.7993V0.479316H31.3113L37.3593 10.1753L38.4873 12.4073L38.3673 0.479316H41.5833V16.7993H38.1993L32.1513 7.12732L30.9993 4.84732L31.1433 16.7993H27.9033ZM53.1543 16.7993L47.0341 9.55501L45.3895 11.72V15.4254C45.4104 16.0083 45.5144 16.4038 46.0765 16.5287L46.1598 16.7993H43.058L43.1413 16.5287C43.7034 16.4038 43.8074 16.0083 43.8283 15.4254V3.53891C43.8283 2.31071 43.8283 1.29068 43.516 0.811884L45.3895 0.49963V10.2836L49.6987 4.57976C50.906 2.99767 51.4473 1.51966 51.6138 0.49963H53.9245L48.0333 8.24354L54.4866 15.8834C54.8613 16.3205 55.1111 16.4662 55.3817 16.5287L55.465 16.7993H53.1543ZM63.4725 17.2573C59.3299 17.2573 55.3747 13.656 55.3747 8.61825C55.3747 3.58054 59.3299 2.37823e-05 63.4725 2.37823e-05C68.2604 2.37823e-05 71.5911 3.93443 71.5911 8.61825C71.5911 13.3021 68.2604 17.2573 63.4725 17.2573ZM57.1441 8.61825C57.1441 12.4902 59.3715 16.4038 63.4725 16.4038C67.5734 16.4038 69.8217 12.4902 69.8217 8.61825C69.8217 4.74629 67.5734 0.832703 63.4725 0.832703C59.3715 0.832703 57.1441 4.74629 57.1441 8.61825ZM73.3622 16.7993L73.4455 16.5287C74.0076 16.4038 74.1116 16.0083 74.1325 15.4254V3.53891C74.1325 2.31071 74.1325 1.29068 73.8202 0.811884L75.6937 0.49963V8.51416H85.332V3.53891C85.332 2.31071 85.332 1.29068 85.0197 0.811884L86.8933 0.49963V15.4254C86.9141 16.0083 87.0182 16.4038 87.5802 16.5287L87.6635 16.7993H84.5618L84.645 16.5287C85.2071 16.4038 85.3112 16.0083 85.332 15.4254V9.34684H75.6937V15.4254C75.7146 16.0083 75.8186 16.4038 76.3807 16.5287L76.464 16.7993H73.3622ZM98.9239 16.7993H89.7436L89.8269 16.5287C90.3889 16.4038 90.493 16.0083 90.5138 15.4254V3.53891C90.5138 2.31071 90.5138 1.29068 90.2016 0.811884L92.0751 0.49963V15.925H94.0527C96.8838 15.925 98.0912 15.6127 98.9239 15.0923V16.7993ZM100.276 16.7993L100.36 16.5287C100.922 16.4038 101.026 16.0083 101.047 15.4254V1.87355C101.026 1.29068 100.922 0.895152 100.36 0.770251L100.276 0.49963H106.605C109.207 0.49963 112.038 1.47803 112.038 4.62139C112.038 6.39083 110.56 7.76475 109.29 8.18109C111.33 8.30599 112.995 9.86727 112.995 12.282C112.995 15.8209 109.956 16.7993 107.083 16.7993H100.276ZM102.608 7.95211H106.584C108.895 7.95211 110.268 6.68227 110.268 4.62139C110.268 2.28989 108.582 1.33231 106.625 1.33231H102.608V7.95211ZM102.608 15.9666H107.354C109.415 15.9666 111.226 14.9674 111.226 12.3029C111.226 9.72155 109.623 8.78478 107.208 8.78478H102.608V15.9666ZM121.729 0.395546L127.725 15.4462C128.016 16.1748 128.391 16.4662 128.911 16.5287L128.994 16.7993H125.414L125.497 16.5287C126.059 16.4246 126.205 16.0083 125.997 15.467L124.435 11.6159H116.858L116.504 12.4278C115.713 14.2596 115.651 15.8209 115.796 16.7993H113.611L119.96 2.43561C120.459 1.31149 120.938 0.603716 121.729 0.395546ZM117.233 10.7832H124.102L120.855 2.53969L117.233 10.7832ZM137.305 17.2573C132.892 17.2573 129.207 13.656 129.207 8.61825C129.207 3.58054 132.621 2.37823e-05 137.347 2.37823e-05C139.886 2.37823e-05 141.885 0.853519 143.384 2.24826L143.363 4.70466C142.593 3.08093 140.927 0.832703 137.347 0.832703C133.246 0.832703 130.977 4.74629 130.977 8.61825C130.977 12.4902 133.6 16.4038 137.513 16.4038C140.781 16.4038 143.071 14.2388 143.821 12.7816L144.175 12.969C143.155 15.0091 140.948 17.2573 137.305 17.2573ZM145.746 16.7993L145.829 16.5287C146.391 16.4038 146.495 16.0083 146.516 15.4254V3.53891C146.516 2.31071 146.516 1.29068 146.204 0.811884L148.077 0.49963V8.51416H157.715V3.53891C157.715 2.31071 157.715 1.29068 157.403 0.811884L159.277 0.49963V15.4254C159.297 16.0083 159.401 16.4038 159.964 16.5287L160.047 16.7993H156.945L157.028 16.5287C157.59 16.4038 157.694 16.0083 157.715 15.4254V9.34684H148.077V15.4254C148.098 16.0083 148.202 16.4038 148.764 16.5287L148.847 16.7993H145.746Z"
            fill="currentColor"></path>
        </svg>
      </a>
      <nav class="nav" aria-label="Primary navigation">
        <ul>
          {
            navLinks.map((link) => (
              <li>
                <LinkWithIndicator
                  title={link.data.title}
                  link={`/${link.data.slug}`}
                  indicatorPosition="bottom"
                />
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="cta">
        <Button title={header.cta.title} link={header.cta.link} />
      </div>
      <button class="menu-trigger" data-js="menu-trigger-open">
        <Button title="Menu" type="span" />
      </button>
    </div>
  </div>
</header>
<div class="menu" data-js="menu">
  <div class="menu-inner">
    <button class="close-button" data-js="menu-trigger-close">
      <Button title="Close" type="span" />
    </button>
    <nav class="menu-nav" aria-label="Primary navigation in menu">
      <ul>
        <li>
          <LinkWithIndicator title="Home" link="/" size="large" />
        </li>
        {
          menuLinks.map((link) => (
            <li>
              <LinkWithIndicator
                title={link.data.title}
                link={`/${link.data.slug}`}
                size="large"
              />
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="menu-cta">
      <Button title={header.cta.title} link={header.cta.link} size="large" />
    </div>
  </div>
</div>

<style lang="scss">
  header {
    padding-block: clamp-fluid(24, 32);
  }

  .inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
  }

  a {
    text-decoration: none;
  }

  .logo {
    display: block;
    width: clamp-fluid(176, 256);
  }

  .nav {
    display: none;
    margin-inline: auto;

    ul {
      display: flex;
      gap: to-rem(24);
      list-style: none;
    }
  }

  .cta {
    display: none;
    margin-left: auto;
  }

  .menu-trigger {
    grid-column: 3 / 4;
    margin-left: auto;
  }

  .menu {
    position: fixed;
    inset: 0;
    z-index: var(--zi-menu);
    padding: var(--grid-margin);
    backdrop-filter: blur(12px);
    color: var(--c-dark);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.3s var(--ease-smooth),
      visibility 0.3s var(--ease-smooth);

    &.is-active {
      opacity: 1;
      visibility: visible;
    }

    .menu-inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      padding: calc(var(--grid-margin) * 1.5);
      background-color: var(--c-primary);
      border-radius: to-rem(12);
    }

    .close-button {
      align-self: flex-end;
    }

    .menu-nav {
      margin-top: auto;

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
      }
    }

    .menu-cta {
      margin-top: clamp-fluid(64, 128);
    }
  }

  @media (width >= 960px) {
    .nav {
      display: block;
    }

    .cta {
      display: block;
    }

    .menu-trigger {
      display: none;
    }
  }
</style>
