---
import '@styles/index.scss';

import { Font } from 'astro:assets';

import { siteData } from '@content/globals';

import Cursor from '@components/layouts/Cursor.astro';
import Header from '@components/layouts/Header.astro';
import Footer from '@components/layouts/Footer.astro';
import Splash from '@components/layouts/Splash.astro';
import PageTransition from '@components/layouts/PageTransition.astro';
import Canvas from '@components/layouts/Canvas.astro';

const { pageTitle } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const lang = 'en';
const title = `${pageTitle ? pageTitle + ' | ' : ''}${siteData.title}`;
const description = siteData.description;
const shareImage = new URL(siteData.image.src, Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#152720" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <!-- TODO: remove when going live -->
    <meta name="robots" content="noindex, nofollow" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={shareImage} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={lang} />
    <meta property="og:url" content={canonicalURL} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={shareImage} />
    <Font cssVariable="--ff-switzer" preload />
    <Font cssVariable="--ff-signore" preload />
    <script is:inline>
      window.addEventListener('pagereveal', async (e) => {
        if (!e.viewTransition) {
          sessionStorage.removeItem('pt:active');
          return;
        }
        e.viewTransition.finished.then(() => {
          window.dispatchEvent(new Event('pt:done'));
          sessionStorage.removeItem('pt:active');
        });
      });
    </script>
    <script is:inline>
      if (!sessionStorage.getItem('splash:played')) {
        document.documentElement.classList.add('play-splash');
      }
    </script>
    <!-- TODO: change to final domain -->
    <script
      is:inline
      defer
      src="https://tracking.jnkl.dev/script.js"
      data-website-id=""
      data-domains="folio-new.jnkl.dev"
      data-do-not-track="true"></script>
  </head>
  <body>
    <Cursor />

    <Header />

    <slot />

    <Footer />

    <Splash />

    <PageTransition />

    <Canvas />

    <script>
      import '../scripts/scroll.ts';
      import '../scripts/inview.ts';
      import '../scripts/consoleCredits.ts';
    </script>
  </body>
</html>
